footer {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0rem;
  text-align: center;
  border-top: .5px solid #333;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px;
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 11px;
    padding: 0.1rem;
  }
  footer p {
    font-size: 9px;
  }
}