#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  background-color: black;
  color: white;
}
p {
  font-weight: bold;
  font-size: 24px;
}

h1 {
  font-size: 48px;
}

