#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  background-color: black;
  color: white;
}

.Landing-Logo {
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
}

footer {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0rem;
  text-align: center;
  border-top: .5px solid #333;
}